* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: rgb(240, 250, 254);
}
.gapdiv {
  height: 15px;
  background-color: rgb(240, 250, 254);
}

#logodiv {
  text-align: center;
  background-color: white;
}
#logodiv > img {
  width: 70px;
}

/* ....................................filter...........Sort.......Product..................................... */
#filterSortProduct {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-between;
}
#filter {
  width: 22%;
  padding: 30px;
  background-color: white;
}
#productNsort {
  width: 76%;
}
/* .............................filter div........................ */
#filterbyprice {
  display: block;
  position: sticky;
  top: 70px;
}
#filterbypriceInp {
  display: flex;
  background-color: white;
  align-self: center;
}
#filterbyprice h3 {
  font-size: 18px;
  color: rgb(122, 122, 122);
  background-color: white;
}
#filterbypriceInp input {
  width: 38%;
  height: 25px;
  margin: 10px;
  text-align: center;
  font-size: 15px;
  color: rgb(122, 122, 122);
  background-color: white;
}
#filterbypriceInp p {
  align-self: center;
  font-size: 20px;
  color: rgb(122, 122, 122);
  background-color: white;
}

/* ...............................................sort............................................... */
#sort {
  display: flex;
  width: 100%;
  position: sticky;
  top: 70px;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: white;
}
#sort h2 {
  background-color: white;
  font-weight: lighter;
  color: gray;
}
#sortSelect {
  background-color: white;
  outline: none;
  padding: 5px 10px;
}

/* .................................................pagination.................................................... */
#pagination {
  text-align: center;
  margin-top: 20px;
}
#pagination button {
  text-align: center;
  font-size: 20px;
  padding: 5px 13px;
  margin: 3px;
  background-color: white;
  border: none;
  cursor: pointer;
}

/* ....................................................product.......................................................... */
#productDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  background-color: white;
}
#productDiv div {
  background-color: white;
  padding: 10px;
}
#productDiv div img {
  width: 100%;
  aspect-ratio: 3/4;
}
#productDiv div p {
  background-color: white;
  margin: 7px;
}
#productDiv div h3 {
  background-color: white;
  margin: 0px;
}
#productDiv > div > div {
  display: flex;
}
#productDiv > div > div > p {
  font-size: 12px;
  align-self: center;
  background-color: white;
}
#productDiv strike {
  background-color: white;
}
